/* Custom colors for the app, can reference if something should stay the same regardless of light/dark mode */

/* run `pnpm validate:sites` to confirm that theme colors match across this file, index.css, and site.config.json */

:root {
    --browse-dot-show-theme-light: #3DC9E0;
    --browse-dot-show-theme-dark: #1E3161;
}