/* Appears to be required because of using `asChild` in ThemeToggle.tsx > TooltipTrigger */
.data-\[state\=checked\]\:bg-accent {
    &[aria-checked='false'] {
        background-color: var(--input);
    }

    &[aria-checked='true'] {
        background-color: var(--accent);
    }
}